.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors .cmf-skinned-select, .fieldWithErrors textarea {
  border-color: red !important;
}

.fieldWithErrors label {
  font-style: italic;
}

#errorExplanation p {
  color: #333;
  float: none;
}

input.time{
	width: 100px !important;
}
input.date{
	width: 140px !important;
}

.project_box{
    background: url("/images/v3/backgrounds/gray_gradient.png") repeat-x scroll left bottom transparent;
    border: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    font-weight: bold;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.project_box > a{
  color: gray;
}
#total_time{
  font-weight: bold;
}
