.project_box
  = link_to project.name, project
  %br
  .project_links
    = link_to "Time Sheet", project_time_sheets_path(project)
    = link_to "Timer", timer_project_intervals_path(project)
    = link_to "Report", report_project_intervals_path(project)
