- content_for :page_name, "Your dashboard"
- unless current_user
  %p
    Hello, guest. Happy to you. You can use this site for tracking your working time with your friends on different projects and get reports. Sign up now!
- else
  #projects
    = render :partial => 'project', :collection => @projects
  %br
  - unless @invites.empty?
    .message.info
      %p
        You have new invites
    %table  
      = render :partial => 'invites/invite', :collection => @invites
